<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbook.triviaquiz"
    android:versionCode="1"
    android:versionName="@string/app_name">
    <application
        android:label="@string/app_name"
        android:debuggable="true"
        android:icon="@drawable/quizicon">
        <activity
            android:name=".QuizMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="QuizGameActivity"></activity>
        <activity
            android:name="QuizSplashActivity"></activity>
        <activity
            android:name="QuizHelpActivity"></activity>
        <activity
            android:name="QuizScoresActivity"></activity>
        <activity
            android:name="QuizSettingsActivity"></activity>
        <receiver
            android:name="QuizWidgetProvider">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service
            android:name="QuizWidgetProvider$WidgetUpdateService" />
    </application>
    <uses-sdk
        android:minSdkVersion="7" />
    <uses-permission
        android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
</manifest>
