<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.manning.aip.dealdroid" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/ddicon" android:label="@string/app_name"
		android:name=".DealDroidApp">

		<activity android:name=".DealList" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".DealDetails" android:label="@string/deal_details" />

		<receiver android:name=".DealBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".DealAlarmReceiver" />
		
		<service android:name=".DealService" />

	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-sdk android:minSdkVersion="4" />
</manifest>                             